{% extends 'main.html' %}
{% load static %}

{% block content %}


<div class="container">
    <form action="/Admin/" method="POST">
        {% csrf_token %}

        <div class="py-4 text-left">
            <h2>จัดการ Admin</h2>
        </div> 
        <div class="row">
            <div class="col-sm-3">
                <label for="title" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="กรอก Username" value="" required="">
            </div>
            <div class="col-sm-3">
                <label for="title" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="กรอก Password" value="" required=""><br>
            </div><br>
        </div>
        
        
        <input type="submit" value="เพิ่ม" class = "btn btn-success me-3">
    </form>

    <form>
        <div class="container">
            <br>
            <h3 align ="center"> รายชื่อ Admin</h3><br>
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th scope="col">ลำดับที่</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td scope="row">#</td>
                    <td scope="row">#</td>
                    <td scope="row">#</td>
                    <div  class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <td><a class="btn btn-warning me-md-2 btn-sm" href="#">แก้ไข</a>
                        <a class="btn btn-danger btn-sm" href="#">ลบ</a></td>
                    </div>
                </tr>

                </tbody>
            </table>
        </div>
    </form>
</div>

{% endblock content %}
