{% extends 'main.html' %}
{% load static %}

{% block content %}


<div class="container">
    <form action="#" method="POST">
        {% csrf_token %}

        <div class="py-4 text-left">
            <h2>จัดการประเภทหมวด</h2>
        </div>
        {{form}}
        {% if messages  %}
            {% for message in messages %}
                <strong>{{message}}</strong>
            {% endfor %}
        {% endif %}<p><p>
        <input type="submit" value="เพิ่ม" class = "btn btn-success me-3">
    </form>

    <form>
        <div class="container">
            <br>
            <h3 align ="center">หมวดวิชา</h3><br>
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th scope="col">ลำดับที่</th>
                    <th scope="col">รหัสหมวด</th>
                    <th scope="col">ชื่อหมวด</th>
                </tr>
                </thead>
                <tbody>
                    {% for all_Cur_Groups in all_Cur_Group %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td scope="row">{{all_Cur_Groups.CG_ID}}</td>
                    <td scope="row">{{all_Cur_Groups.CG_Name}}</td>
                    <div  class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <td><a href="{% url 'edit_Category' all_Cur_Groups.id %}" class="btn btn-warning me-md-2 btn-sm" >แก้ไข</a>
                            <a href="{% url 'delete_Category' all_Cur_Groups.id %}" class="btn btn-danger me-md-2 btn-sm" onclick ="return confirm('คุณต้องการลบข้อมูลประเภทหมวดวิชา {{all_Cur_Groups.CG_Name}} หรือไม่ ?')">ลบ</a></td>
                        </div>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>

{% endblock content %}
