{% extends 'main.html' %}
{% load static %}

{% block content %}


<div class="container">
    <form action="/Advisor/" method="POST">
        {% csrf_token %}

        <div class="py-4 text-left">
            <h2>จัดการ Advisor</h2>
        </div> 
        <div class="row">
            <div class="col-md-4">
                <label for="title" class="form-label">คณะ</label>
                <select class="form-select" id="Fac_Name" name="Fac_Name" required="">
                    <option value="">เลือกคณะ</option>
                    {% comment %} {% for Faculty in all_Facultys %}
                    <option value="{{Faculty.id}}">{{Faculty.Fac_Name}}</option>
                    {% endfor %} {% endcomment %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="title" class="form-label">สาขา</label>
                <select class="form-select" id="Mj_name" name="Mj_name" required="">
                    <option value="">เลือกสาขา</option>
                    {% comment %} {% for Major in all_Majors %}
                    <option value="{{Major.id}}">{{Major.Mj_Name}}</option>
                    {% endfor %} {% endcomment %}
                </select><br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label for="title" class="form-label">ชื่อ</label>
                <input type="text" class="form-control" id="Adv_Fname" name="Adv_Fname" placeholder="กรอก ชื่อ" value="" required="">
            </div>
            <div class="col-sm-3">
                <label for="title" class="form-label">นามสกุล</label>
                <input type="text" class="form-control" id="Adv_Lname" name="Adv_Lname" placeholder="กรอก นามสกุล" value="" required=""><br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label for="title" class="form-label">Username</label>
                <input type="text" class="form-control" id="Username" name="Username" placeholder="กรอก Username" value="" required="">
            </div>
            <div class="col-sm-3">
                <label for="title" class="form-label">Password</label>
                <input type="text" class="form-control" id="Password" name="Password" placeholder="กรอก Password" value="" required=""><br>
            </div><br>
        </div>
        
        
        <input type="submit" value="เพิ่ม" class = "btn btn-success me-3">
    </form>

    <form>
        <div class="container">
            <br>
            <h3 align ="center"> รายชื่อ Advisor</h3><br>
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th scope="col">ลำดับที่</th>
                    <th scope="col">ชื่ออาจารย์</th>
                    <th scope="col">นามสกุล</th>
                    <th scope="col">สาขา</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td scope="row">#</td>
                    <td scope="row">#</td>
                    <td scope="row">#</td>
                    <td scope="row">#</td>
                    <td scope="row">#</td>
                    <td scope="row">#</td>
                    <div  class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <td><a class="btn btn-warning me-md-2 btn-sm" href="#">แก้ไข</a>
                        <a class="btn btn-danger btn-sm" href="#">ลบ</a></td>
                    </div>
                </tr>

                </tbody>
            </table>
        </div>
    </form>
</div>

{% endblock content %}
