{% extends 'main.html' %}
{% load static %}

{% block content %}


<div class="container">
    <form action="/Admin/" method="POST">
        {% csrf_token %}

        <div class="py-4 text-left">
            <h2>จัดการ Admin</h2>
        </div> 
        {{form}}
        {% if messages  %}
            {% for message in messages %}
                <strong>{{message}}</strong>
            {% endfor %}
        {% endif %}<p><p>
        <input type="submit" value="เพิ่ม" class = "btn btn-success me-3">
    </form>

    <form>
        <div class="container">
            <br>
            <h3 align ="center"> รายชื่อ Admin</h3><br>
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th scope="col">ลำดับที่</th>
                    <th scope="col">ชื่อ</th>
                    <th scope="col">นามสกุล</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    {% for all_Admins in all_Admin %}      
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td scope="row">{{ all_Admins.Adm_Fname}}</td>
                    <td scope="row">{{ all_Admins.Adm_Lname}}</td>
                    <td scope="row">{{ all_Admins.Username }}</td>
                    <td scope="row">{{ all_Admins.Password }}</td>
                    <div  class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <td><a href="{% url 'edit_Admin' all_Admins.id %}" class="btn btn-warning me-md-2 btn-sm">แก้ไข</a>
                            <a href="{% url 'delete_Admin' all_Admins.id %}" class="btn btn-danger me-md-2 btn-sm" onclick ="return confirm('คุณต้องการลบข้อมูล Admin Username {{all_Users.Username}} หรือไม่ ?')">ลบ</a></td>
                    </div>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>

{% endblock content %}
