{% extends 'main.html' %}
{% load static %}

{% block content %}


<div class="container">
    <form action="/Advisor/" method="POST">
        {% csrf_token %}

        <div class="py-4 text-left">
            <h2>จัดการ Advisor</h2>
        </div> 
        {{form}}
        {% if messages  %}
            {% for message in messages %}
                <strong>{{message}}</strong>
            {% endfor %}
        {% endif %}<p><p>
        <input type="submit" value="เพิ่ม" class = "btn btn-success me-3">
    </form>

    <form>
        <div class="container">
            <br>
            <h3 align ="center"> รายชื่อ Advisor</h3><br>
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th scope="col">ลำดับที่</th>
                    <th scope="col">ชื่ออาจารย์</th>
                    <th scope="col">นามสกุล</th>
                    <th scope="col">คณะ</th>
                    <th scope="col">สาขา</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    {% for all_Advs in all_Adv %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td scope="row">{{all_Advs.Adv_Fname}}</td>
                    <td scope="row">{{all_Advs.Adv_Lname}}</td>
                    <td scope="row">{{all_Advs.Fac_Name}}</td>
                    <td scope="row">{{all_Advs.Mj_Name}}</td>
                    <td scope="row">{{all_Advs.Username}}</td>
                    <td scope="row">{{all_Advs.Password}}</td>
                    <div  class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <td><a href="{% url 'edit_Advisor' all_Advs.id %}"  class="btn btn-warning me-md-2 btn-sm">แก้ไข</a>
                            <a href="{% url 'delete_Advisor' all_Advs.id %}" class="btn btn-danger me-md-2 btn-sm" onclick ="return confirm('คุณต้องการลบข้อมูล Advisor ชื่อ {{all_Advs.Adv_Fname}} {{all_Advs.Adv_Lname}}หรือไม่ ?')">ลบ</a></td>
                    </div>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>

{% endblock content %}
