{% extends 'main.html' %}
{% load static %}

{% block content %}


<div class="container">
    <form action="/Collegepage/" method="POST">
        {% csrf_token %}

        <div class="py-4 text-left">
            <h2>จัดการข้อมูลโรงเรียน</h2>
        </div>
        {% if messages  %}
            {% for message in messages %}
                <strong>{{message}}</strong>
            {% endfor %}
        {% endif %}<p><p>
            {{form}}
        <input type="submit" value="เพิ่ม" class = "btn btn-success me-3">
    </form>

    <form>
        <div class="container">
            <br>
            <h3 align ="center"> รายชื่อโรงเรียน </h3><br>
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th scope="col">ลำดับที่</th>
                    <th scope="col">โรงเรียน</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for college in all_college %}
                <tr>
                    <td scope="row">{{ forloop.counter}}</td>
                    <td scope="row">{{college.C_name}}</td>
                    <div  class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <td><a href="{% url 'edit_college' college.id %}" class="btn btn-warning me-md-2 btn-sm" >แก้ไข</a>
                            <a href="{% url 'delete_college' college.id %}" class="btn btn-danger me-md-2 btn-sm" onclick ="return confirm('คุณต้องการลบข้อมูล {{college.C_name}} หรือไม่ ?')">ลบ</a>
                        </td>
                    </div>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>

{% endblock content %}