{% extends 'main.html' %}
{% load static %}

{% block content %}


<div class="container">
    <form action="/Major/" method="POST">
        {% csrf_token %}

        <div class="py-4 text-left">
            <h2>จัดการสาขา</h2>
        </div> 
        <div class="col-md-3">
                <label for="title" class="form-label">คณะ</label>
                <select class="form-select" id="Fac_Name" name ="Fac_Name" required="">
                  <option value="">เลือกคณะ</option>
                  {% for Faculty in all_Facultys %}
                  <option value="{{Faculty.id}}">{{Faculty.Fac_Name}}</option>
                  {% endfor %}
                </select><br>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="title">ชื่อสาขา</label>
                <input class="form-control" type="text" id = "Mj_name" name = "Mj_name" placeholder = "กรอกชื่อสาขา">
            </div><br>
        </div>

        <input type="submit" value="เพิ่ม" class = "btn btn-success me-3">
    </form>

    <form>
        <div class="container">
            <br>
            <h3 align ="center"> รายชื่อสาขาในคณะ</h3><br>
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th scope="col">ลำดับที่</th>
                    <th scope="col">สาขา</th>
                    <th scope="col">คณะ</th>
                    <td scope="col"></td>
                </tr>
                </thead>
                <tbody>
                {% for Major in all_Majors %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td scope="row">{{Major.Mj_Name}}</td>
                    <td scope="row">{{Major.Fac_name}}</td>
                    <div  class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <td><a class="btn btn-warning me-md-2 btn-sm" href="#">แก้ไข</a>
                        <a class="btn btn-danger btn-sm" href="#">ลบ</a></td>
                    </div>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>

{% endblock content %}
