{% extends 'main.html' %}
{% load static %}

{% block content %}


<div class="container">
    <form action="/collegepage/" method="POST">
        {% csrf_token %}

        <div class="py-4 text-left">
            <h2>จัดการข้อมูลโรงเรียน</h2>
        </div> 
        
        <div class="col-sm-3">
            <div class="form-group">
                <label for="title">ชื่อโรงเรียน</label>
                <input class="form-control" type="text" id = "C_name" name = "C_name" placeholder = "กรอกชื่อโรงเรียน">
            </div><br>
        </div>
        <input type="submit" value="เพิ่ม" class = "btn btn-success me-3">
    </form>

    <form>
        <div class="container">
            <br>
            <h3 align ="center"> รายชื่อโรงเรียน </h3><br>
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th scope="col">ลำดับที่</th>
                    <th scope="col">โรงเรียน</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for college in colleges %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td scope="row">{{college.C_name}}</td>
                    <div  class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <td><a class="btn btn-warning me-md-2 btn-sm" href="#">แก้ไข</a>
                        <a class="btn btn-danger btn-sm" href="#">ลบ</a></td>
                    </div>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>

{% endblock content %}
