{% extends 'main.html' %}
{% load static %}

{% block content %}


<div class="container">
    <form action="/Collmajor/" method="POST">
        {% csrf_token %}

        <div class="py-4 text-left">
            <h2>จัดการสาขาโรงเรียน</h2>
        </div>
        {{form}}
        {% if messages  %}
            {% for message in messages %}
                <strong>{{message}}</strong>
            {% endfor %}
        {% endif %}<p><p>
        <input type="submit" value="เพิ่ม" class = "btn btn-success me-3">
        <a href="{% url 'SearchCollmajor' %}" input type="submit" class="btn btn-warning me-3 btn-sm" >ค้นหาข้อมูลสาขา</a>
    </form>

    <form>
        <div class="container">
            <br>
            <h3 align ="center"> รายชื่อสาขาโรงเรียน</h3><br>
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th scope="col">ลำดับที่</th>
                    <th scope="col">สาขา</th>
                    <th scope="col">โรงเรียน</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    {% for all_Coll_Majors in all_Coll_Major %}
                    <tr>
                        <td scope="row">{{ forloop.counter }}</td>
                        <td scope="row">{{all_Coll_Majors.Cmj_name}}</td>
                        <td scope="row">{{all_Coll_Majors.Coll_name}}</td>
                        <div  class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <td><a href="{% url 'edit_Collmajor' all_Coll_Majors.id %}" class="btn btn-warning me-md-2 btn-sm" >แก้ไข</a>
                            <a href="{% url 'delete_Collmajor' all_Coll_Majors.id %}" class="btn btn-danger me-md-2 btn-sm" onclick ="return confirm('คุณต้องการลบข้อมูลสาขา {{all_Coll_Majors.Cmj_name}} หรือไม่ ?')">ลบ</a></td>
                        </div>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>

{% endblock content %}
