{% extends 'main.html' %}
{% load static %}

{% block content %}


<div class="container">
    <form action="/Collmajor/" method="POST">
        {% csrf_token %}

        <div class="py-4 text-left">
            <h2>แก้ไขข้อมูลสาขาโรงเรียน</h2>
        </div> 
        <div class="col-md-3">
                <label for="title" class="form-label">โรงเรียน</label>
                <select class="form-select" id="Coll_name" name="Coll_name" value="{{all_Coll_Majors.Coll_name}}">
                    <option value="">{{all_Coll_Majors.Coll_name}}</option>
                    {% for college in colleges %}
                    <option value="{{college.id}}">{{college.C_name}}</option>
                    {% endfor %}
                </select><br>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="title">ชื่อสาขา</label>
                <input class="form-control" type="text" id = "Cmj_name" name = "Cmj_name" value="{{all_Coll_Majors.Cmj_name}}">
            </div><br>
        </div>

        <input type="submit" value="อัปปเดตข้อมูล" class = "btn btn-success me-3">
    </form>

</div>

{% endblock content %}
